header {
    height: 63px;
    box-shadow: 0px 6px 7px -3px rgba(151,151,151,0.84);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0px 20px;
    @include media(desktop) {
        justify-content: flex-start;
    }
    p {
        margin: 0px;
        position: absolute;
        top: center;
        left: 20px;
        a {
            color: $color-dark;
        }
    }
    figure {
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        img {
            height: 28px;
        }
    }
}