main.restaurants {
    picture {
        height: 260px;
        width: 100%;
        img {
            height: 260px;
            object-fit: cover;
        }
    }
    h1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-basis: 100%;
        padding: 35px 20px 5px 20px;
        margin: -40px 0px 0px 0px;
        font-family: 'Shrikhand', 'arial', cursive;
        font-size: 1.4rem;
        font-weight: normal;
        width: 100%;
        max-width: 1340px;
        background-color: $color-superlight-gray;
        border-radius: $radius-size $radius-size 0px 0px;
    }
    article {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width: 1340px;
        background-color: $color-superlight-gray;
        padding-bottom: 83px;
        @include media(desktop) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .bouton {
            display: flex;
            justify-content: center;
            margin-top: 35px;
            @include media(desktop) {
                flex-basis: 100%;
            }       
        }
        section {
            @include media(desktop) {
                flex-basis: 33%;
            }
            h2 {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 0.9rem;
                position: relative;
                margin: 0px;
                padding-bottom: 4px;
                margin-bottom: 14px;
                margin-top: 30px;
                &::after {
                    content: "";
                    width: 25px;
                    height: 3px;
                    background-color: $color-tertiaire;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                }
            }
            p {
                margin: 0px 0px 14px 0px;
                background-color: white;
                padding: 16px 23px 16px 12px;
                border-radius: $radius-size;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                height: 68px;
                position: relative;
                cursor: pointer;
                overflow: hidden;
                opacity: 0;
                transform: translateY(15px);
                span {
                    display: inline-block;
                }
                span.title {
                    font-weight: 500;
                    width: 100%;
                }
                span.info {
                    font-weight: 300;
                }
                &::before, &::after {
                    content: "";
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    height: 68px;
                    width: 59px;
                    border-radius: 0px $radius-size $radius-size 0px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
                &::before {
                    background-color: $color-tertiaire;
                    z-index: 0;
                    transform: translateX(59px);
                    transition: transform .5s ease-in-out;
                }
                &::after {
                    background: url(../images/logo/check-circle-solid.svg);
                    background-position: center center;
                    background-size: 20px 20px;
                    background-repeat: no-repeat;
                    z-index: 1;
                    transform: translateX(59px) rotate(0deg);
                    transition: transform .5s ease-in-out;                
                }
                &:hover {
                    &::before {
                        transform: translateX(0px);
                    }
                    &::after {
                        transform: translateX(0px) rotate(360deg);
                    }
                }
            }
            p.b01 {animation: menu 1s .1s forwards;}
            p.b02 {animation: menu 1s .2s forwards;}
            p.b03 {animation: menu 1s .3s forwards;}
        }
    }
}


@keyframes menu {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}