// Couleurs
$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;

$shadow: 0px 6px 7px -3px rgba(200,200,200,0.44);
$shadow-dark: 0px 6px 7px -3px rgba(46, 45, 45, 0.94);

$color-dark: #353535;
$color-gray: #7e7e7e;
$color-light-gray: #eaeaea;
$color-superlight-gray: #f6f6f6;
